
/* {
	margin: 0;
	padding: 0;

}*/

/* Kitik Dan Saran */

h4 {
	font-family:Poppins;
	letter-spacing: 2px;
	color:#4f4f4f;

}

hr {
	width:90%;
}

table {
	font-family:Poppins;
	font-size:12px;
	color:#4f4f4f;

}

.input {
	width: 250px;
	height:25px;
	border-radius: 2px;
	border:1px solid grey;

}

.input[type=text]{
	font-family: Poppins;
	font-size: 12px;
	color:#4f4f4f;

}

.input[type=email]{
	font-family: Poppins;
	font-size: 12px;
	color:#4f4f4f;

}

.input[type=number]{
	font-family: Poppins;
	font-size: 12px;
	color:#4f4f4f;
	
}

.input[type=date]{
	font-family: Poppins;
	font-size: 12px;
	color:#4f4f4f;
	
}


.select {
	width: 250px;
	height:30px;
	border-radius: 2px;
	color:#4f4f4f;
	border:1px solid #4f4f4f;;
	font-family: Poppins;
	font-size: 11px;
	letter-spacing: 0.5px;

}

.option {
	width: 250px;
	height:30px;
}

.submit {
	width:100px;
	padding:5px;
	font-size:11px;
	font-family: Poppins;
	background:#E4D1D1;
	color:white;
	border:none;
	border-radius: 2px;
}

.submit:hover {
	background:#d9c5c5; 
	transition: 0.3s;
}

.header {
	width:100%;
	height:400px;
	background-image: url(asset/gambar/header.jpg);
	background-size: cover;


}

.button {
	width: 250px;
	height: 35px;
	background-color:white;
	border: none;
	border-radius: 2px;
	font-family: Poppins;
	font-size:12px;
	padding: 6px;
	color:#4f4f4f;
	opacity: 0.80;

}

.button:hover {
	background:#ebebeb;
	transition: 0.3s;
}

.submit-button {
	width: 150px;
	height: 32px;
	background-color:#B59F9F;
	border: none;
	border-radius: 2px;
	font-family: Poppins;
	font-size:12px;
	padding: 6px;
	color:#fff;
	opacity: 0.80;

}

.submit-button:hover {
	background:#917c7c;
	transition: 0.3s;
}

.title-header {
	font-size:16px;
	font-family: Poppins;
	letter-spacing: 1px;
	color:white;
	padding:120px 10px 10px 50px;
	clear: both;
}

/* Responsive Menu */

.menu {
	font-size:12px;
	font-family:Poppins;
	width:100%;
	height:12%;
	background:white;
	transition: 0.5s;
	opacity: 0.75;

}

.menu ul {
	margin:0;
	padding: 0;
	display: flex;
	list-style: none;
	padding: 14px 0px 0px 0px;
	float: right;
}

.menu ul li{
	list-style: none;
	position: relative;
	
}

.menu ul li ul {
	position: absolute;
	left: 0;
	background: white;
	display: none;

}

.menu ul li.active ul {
	display: block;

}

.menu ul li ul li {
	display: block;
	width: 220px;
	height: 40px;

}

.menu ul li a {
	text-decoration: none;
	color: black;
	height: 50px;
	padding: 0px 30px 0px;
	opacity: 0.75;
	
}

.menu a:hover, 
.menu a.active {
	opacity: 1.5;
	transition: 0.5s;
	
}

.menu-togle {
	width: 100%;
	background: white;
	opacity: 0.75;
	text-align: right;
	font-size: 20px;
	cursor: pointer;
	display: none;
	line-height: 30px;

}

.menu-togle i {
	margin-right: 10px;

}

.menu.active{
	display: block;

}

/* Menu Responsive */

@media screen and (max-width: 620px)
{
	
	.menu-togle {
		display: block;

	}

	.menu {
		position: absolute;
		z-index: 8;
		width: 100%;
		height: calc(45vh - 50px);
		left:-100%;
		transition: 0.5s;
		display: none;
	}

	.menu {
		left:0;
		transition: 0.5s;
	}

	.menu ul {
		display: block;
		text-align: center;
		float: none;
	}

	.menu ul li {
		margin-bottom: 30px;

	}

	.menu ul li.active ul {
		position: relative;
		background: white;

	}

	.menu ul li ul li{
		width: 100%;
		height: 100%;
	}

	.menu ul li.sub-menu:before {
		content: '\f0d7';
		font-family: fontAwesome;
		position: absolute;
		line-height: 19px;
		color: red;
		right: 5px;
		color: black;

	}

	.menu ul li.active.sub-menu:before {
		content: '\f0d8';
	
	}

/*	.menu ul li a {
		border-bottom: 1px solid grey;

	}*/
}

/*.menu {
	font-size:11px;
	font-family:Poppins;
	text-decoration: none;
	width:100%;
	height:12%;
	background:white;
	opacity: 0.75;

}

.sub-menu-1 {
	display: none;
	
}

.menu ul li {
	transition-duration: 0.5s;
	margin:0px 10px 0px 50px;


	
}

.menu ul li ul li{
	margin:0px 0px 0px 0px;

}

.menu ul li:hover .sub-menu-1 {
	width: 15%;
	display: block;
	position: absolute;
	background: white;

}

.menu ul li:hover .sub-menu-1 ul {
	display: block;

}

.menu ul li:hover .sub-menu-1 li{
	border-bottom: 1px dotted #fff;
	width: 100%;
	padding: 12px;

}

.menu ul {
	display: flex;
	list-style: none;
	padding:15px 0px 0px 0px;
	width:100%;

}

.menu a {
	text-decoration: none;
	color:#4f4f4f;
	letter-spacing: 1px;

}

.menu a:hover:after {
  	width: 100%;

}

.menu a:hover {
	opacity: 0.6;
  	transition: 0.5s;
}

.menu a:after {
	content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: #9c9c9c;
    transition: 500ms;

}*/

.content-footer {
	width:100%;
	height:100%;
	background: #4f4f4f;
	font-size:11px;
	font-family:Poppins;
	color:white;
	letter-spacing: 1px;
	clear: both;

}

.hr-content-footer {
	width:95%;

}

.title-content-footer {
	width: 30%;
	padding:30px 0px 10px 35px;
	float:left;

}

.title-content-footer-2 {
	width: 15%;
	float: left;
	margin:55px 0px 25px 25px;

}
.title-content-footer-2 a{
	color: white;
	text-decoration: none;

}

.vl {
	border-left: 3px solid white;
	float: left;
	height: 230px;
	padding:0px 0px 0px 0px;
	margin:50px 0px 0px 0px;

}

.footer {
	width:100%;
	height:27px;
	background: white;
	font-size:11px;
	font-family:Poppins;
	text-align:right;
	padding-top: 10px;
	color:#4f4f4f;

}

/* Beranda */

.ini-berita {
	width: 100%;
}

.content-index {
	width:100%;
	text-align: center;
	transition: transform .5s;
	
}

.content-index img {
	transition: transform .5s;

}

.content-index img:hover {
	transform: scale(1.1);

}

.img-index {
	width:250px;
	height:auto;
	margin:0px 39px 0px 35px; /* Bawah, Kanan, Atas, Kiri */
	box-shadow: 0px 8px 10px -6px black;
}

.content-article-index {
	text-align: justify;
  	text-justify: inter-word;

}

.content-article-index img{
	width:180px;
	height: auto;
	float: left;
	margin-right: 30px; 
	box-shadow: 0px 8px 6px -6px black;

}

.article-index {
	width:45%;
	font-family: Poppins;
	font-size: 12px;
	float: left;
	padding:30px 20px 30px 40px;

}

.button-article {
	width: 250px;
	height: 35px;
	background-color:#737373;
	border: none;
	border-radius: 2px;
	font-family: Poppins;
	font-size:12px;
	padding: 4px;
	color:white;
	opacity: 0.80;

}

.button-article:hover {
	background-color:#454545;
	transition: 0.3s;

}

.title-article-index {
	width:30%;
	font-family: Poppins;
	font-size: 12px;
	padding:0px 20px 50px 23px;
	text-align: justify;
  	text-justify: inter-word;
  	float: left;
  	
}

.title-article-index img {
	float: left;
	margin:0px 30px 0px 10px;
}

.title-article-index label h3 {
	margin:8px 0px 0px 0px;
	color:#4f4f4f;

}

/* Detail Berita */

.header-detail {
	font-family: Poppins;
	font-size: 12px;
	margin: -20px 0px 30px 0px;

}

.header-detail img{
	width:90%;
	height: 400px;
	object-fit: cover;
	background-size: cover;

}

.hr-detail {
	width: 12%;
	float: left;
	margin: -10px 0px 20px 0px;

}

.article-detail {
	width: 90%;
	font-family: Poppins;
	font-size: 12px;
	margin: -30px 0px 30px 65px;
	text-align: justify;
  	text-justify: inter-word;

}

.article-detail img {
	width: 50%;
	height: 400px;
	object-fit: cover;
	margin: 0px 0px 30px 0px;
	box-shadow: 0px 10px 6px -6px grey;


}

/* Fasilitas */

.content-fasility{

}

.content-fasilitas {
	width: 30.4%;
	font-family: Poppins;
	font-size: 12px;
	line-height: 1.1;
	margin: 0px 80px 40px 145px;
	float: left;
	justify-content: center;

}

.content-fasilitas label {
	text-align: center;

}

.content-fasilitas img{
	width: 400px;
	height: 350px;
	object-fit: cover;
	box-shadow: 0px 10px 6px -6px black;
	transition: transform .5s;

}

.content-fasilitas img:hover {
	transform: scale(1.1);

}

/* Detail Fasilitas */

.content-dfasility {
	width: 95%;
	font-family: Poppins;
	font-size: 14px;
	color:#4f4f4f;
	text-align: justify;
  	text-justify: inter-word;

}

.content-dfasility img {
	width: 400px;
	height: 350px;
	object-fit: cover;
	box-shadow: 0px 10px 6px -6px black;
	margin: 0px 50px 60px 65px;
	float: left;

}

.img-dfasility {
	clear: both;
	padding:0px 0px 50px 0px;
	
}

.img-dfasility img {
	transition: transform .5s; 

}

.img-dfasility img:hover {
	transform: scale(1.1);

}

.article-dfasility {
	font-family: Poppins;
	font-size: 13px;
	padding: 0px 30px 0px 30px;
	text-align: justify;
  	text-justify: inter-word;

}

/* Fasilitas Kamar */

.title-fasility-bed {
	font-family: Poppins;
	font-size: 12px;
	padding: 0px 0px 30px 50px;

}

.title-fasility-bed input{
	width: 245px;
	height: 20px;
	border: 0px;
	text-decoration: underline;
	border-bottom: 1px solid #CCC;
	float: right;
	margin: -50px 50px 0px 0px;

}

::placeholder {
	font-family: Poppins;
	font-size: 11px;
	color:#4f4f4f;

}

/* Detail Kamar */

.img-content-bed {
	clear:both;

}

.img-content-bed img {
	margin: 0px 0px 70px 100px;
	width: 300px;
	height: 300px;
	object-fit: cover;
	box-shadow: 0px 10px 6px -6px black;
	
}

.isi-sejarah {
	width: 90%;
	font-family: Poppins;
	font-size: 13px;
	padding: 0px 0px 0px 65px;
	text-align: justify;
  	text-justify: inter-word;
}

.isi-sejarah img {
	width: 300px;
	height: 300px;
	object-fit: cover;
	box-shadow: 0px 10px 6px -6px black;

}

.visi-misi {
	font-family: Poppins;
	font-size: 13px;
	width: 40%;
	float: left;
	margin: 10px 0px 30px 85px;
	text-align: center;

}

/* Lihat Dokter */

.artivle-view-doctor {
	width: 90%;

}

.table-head-view-doctor {
	width: 88%;
	height:18px;
	background: #04C7E6;
	font-family: Poppins;
	font-size: 13px;
	color: white;
	margin:0 auto;
	padding: 15px;

}

.table-head-view-doctor label {
	margin:0px 0px 0px 40px;

}

.table-body-view-doctor label {
	color:#4f4f4f;
	font-family: Poppins;
	font-size: 13px;
	margin:0px 0px 0px 100px;

}

.button-view-doctor {
	margin:30px 0px 30px 68%;

}

/* Lihat Dokter */

.table-detail-doctor {
	width: 95%;
	font-family:Poppins;
	font-size:12px;
	color:#fff;
	margin: 0 auto;
	
}

.table-detail-doctor tr th {
	background: #04C7E6;
	letter-spacing: 1px;

}

.table-detail-doctor tr td {
	color: #7a7a7a;

}

.table-detail-doctor tr:nth-child(even){
	background: #f2f2f2;

}

/* Profil Doctor */

.content-profil-doctor {
	margin-left: 80px;
}

.article-profil-doctor {
	width: 35%;
	font-family: Poppins;
	font-size: 13px;
	color:#4f4f4f;
	float: left;
	margin: 0px 0px 25px 65px;
}

.article-profil-doctor img {
	width: 300px;
	height: 300px;
	object-fit: cover;
	box-shadow: 0px 10px 6px -6px #4f4f4f;
	margin: 0px 0px 0px 85px;
	border-radius: 100%;

}

.article-profil-doctor label p{
	margin: 0px 0px 13px 20px;
}

.vl-article-view-doctor {
	border-left: 3px solid #4f4f4f;
	float: left;
	height: 470px;
	padding:0px 0px 0px 30px;
	margin:0px 45px 0px 0px;

}

.article-list-dokter {
	width: 28%;
	font-family: Poppins;
	font-size: 13px;
	color:#4f4f4f;
	float: left;
	margin:0px 0px 40px 52px;
	border: 1px solid #dedede;
	border-radius: 10px;

}

.article-list-dokter img{
	width: 300px;
	height: 300px;
	object-fit: cover;
	text-align: center;
	border-radius: 100%;
	margin: auto;
	display: block;
	margin-bottom:50px;
	margin-top:25px;
	box-shadow: 0px 10px 6px -6px #4f4f4f;

}

.article-list-dokter p{
	margin-left: 35px;

}

/* Responsive WEB */
/* Index */

@media screen and (max-width: 999px){
    .img-index {
		margin-top:50px;

    }
}

@media screen and (max-width: 1220px){
    .article-index {
        width:92%;
        clear: both;

    }
}

@media screen and (max-width: 570px){
    .button-article {
    	text-align: center;
    	margin-top:20px;
    	width: 91%;

    }

    .button {
    	text-align: center;

    }

    .title-header {
    	text-align: center;
    	margin-left: -10px;
    }

    .content-article-index img {
    	float: none;
    	width: 390px;
    	height: 390px;
    	object-fit: cover;
    }

    .content-article-index p {
    	width: 90%;
    	margin-top:20px;
    }

    .content-article-index label{
    	text-align: center;
    }
}

@media screen and (max-width: 850px){
    .title-content-footer {
        width:90%;
        float: none;

    }

    .vl {
    	border:none;
    }

    .title-content-footer-2 {
    	width: 44%;
    	margin-left:10px;
    	text-align: center;
    }
}

@media screen and (max-width: 910px){
    .title-article-index {
        width:100%;
        clear: both;

    }
}

@media screen and (max-width: 1220px){
    .title-article-index {
        width:94%;
        clear: both;

    }
}
